

<script type="text/javascript">
$( document ).ready(function() {


var game = new Phaser.Game(1000, 1000, Phaser.AUTO, '', { preload: preload, create: create, update: update });

WebFontConfig = {

    //  'active' means all requested fonts have finished loading
    //  We set a 1 second delay before calling 'createText'.
    //  For some reason if we don't the browser cannot render the text the first time it's created.
    active: function() { game.time.events.add(Phaser.Timer.SECOND, createText, this); },

    //  The Google Fonts we want to load (specify as many as you like in the array)
    google: {
      families: ['Revalia']
    }

};

function preload() {
    game.load.script('webfont', '//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js');
    game.load.image('sky', 'sky.png');
    game.load.image('ground', 'platform.png');
    game.load.image('star', 'star.png');
    game.load.image('gotham', 'gotham.png');
    game.load.spritesheet('robo', 'robo.png', 280, 400);


}


var text = null;
var grd;


function create() {
    game.physics.startSystem(Phaser.Physics.ARCADE);
    game.add.sprite(0, 0, 'gotham');
    game.add.sprite(0, 0, 'star');
    platforms = game.add.group();
    platforms.enableBody = true;
    var ground = platforms.create(0, game.world.height - 64, 'ground');
    ground.scale.setTo(2, 2);
    ground.body.immovable = true;
    var ledge = platforms.create(400, 400, 'ground');
    ledge.body.immovable = true;
    ledge = platforms.create(-150, 250, 'ground');
    ledge.body.immovable = true;
    debugger

    player = game.add.sprite(32, game.world.height - 150, 'robo');
    player.scale.setTo(0.12, 0.12)
    game.physics.arcade.enable(player);
    player.body.bounce.y = 0.2;
    player.body.gravity.y = 400;
    player.body.collideWorldBounds = true;
    player.animations.add('left', [6, 5, 4, 1, 0], 8, true);
    player.animations.add('right', [0, 1, 4, 5, 6], 8, true);
    player.animations.add('destroy', [3], 4, true)
    cursors = game.input.keyboard.createCursorKeys();
    fireKey = game.input.keyboard.addKey(Phaser.Keyboard.Z);
}

function update() {
    var hitPlatform = game.physics.arcade.collide(player, platforms);
     player.body.velocity.x = 0;
     if(cursors.left.isDown){
        player.body.velocity.x = -150;
        player.animations.play('left');
     }
     else if (cursors.right.isDown)
    {
        //  Move to the right
        player.body.velocity.x = 150;
        player.animations.play('right');
    }
    else if(fireKey.isDown){

        console.log("cheeky boy")
        player.animations.play('destroy');
    }



     else
    {
        //  Stand still
        player.animations.stop();

        player.frame = 0;
    }
    if (cursors.up.isDown && player.body.touching.down && hitPlatform)
    {
        player.body.velocity.y = -350;
    }
}

});
</script>

<br><br><br><br>

<div id="status">
</div>


